*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #e0e0e0;
    overflow: hidden;
}

.container {
    max-width: 600px;
    height: 500px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8); /* Add opacity for better readability */

    /* Add your background pattern here */
    background-image: repeating-radial-gradient(  #0c0a0a 80%,#2f312f 90%,#3f4549 90%);
    background-size: 65px 65px;
}

img{
    height: 256px;
    width: 256px;
    background-color: red;
}

h1 {
    text-align: center;
    font-size: 45px;
    margin-bottom: 10px;
    color: #ffffff; /* Change text color for better readability */
}

p{
    text-align: center;
    font-size: 25px;
    height: 50px;
    width: 250px;
    background-color: red;
}

form {
    text-align: center;
    margin-top: 20px;
}

input[type="file"] {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #0056b3;
}
