body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    background-image: url('path_to_your_brain_image.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8); /* Add opacity for better readability */
}

h1 {
    text-align: center;
    color: #333; /* Change text color for better readability */
}

form {
    text-align: center;
    margin-top: 20px;
}

input[type="file"] {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input[type="file"]::-webkit-file-upload-button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button:hover {
    background-color: #0056b3;
}
